<section class="product-search">
    <div class="search">
        <input type="text" class="shop-search-input" placeholder="Search Products" oninput="handleInputSearch(event)"/>
    </div>
    <div class="seach-category">
        <button class="shop-category-btn active" data-category="All">All</button>
        <button class="shop-category-btn" data-category="beauty">beauty</button>
        <button class="shop-category-btn" data-category="groceries">groceries</button>
        <button class="shop-category-btn" data-category="fragrances">fragrances</button>
    </div>
</section>