<sly data-sly-use.model="com.adobe.aem.bootcamp.core.learner004.models.SearchFooterModel">
    <footer class="cmp-footer">
        <div class="cmp-footer-columns">
            <div class="cmp-footer-column">
                <h4>${model.brandTitle}</h4>
            </div>

            <div class="cmp-footer-column">
                <h4>${model.navigationLabel}</h4>
                <a href="${model.homeLink}">Home</a>
            </div>

            <div class="cmp-footer-column">
                <h4>${model.resourcesLabel}</h4>
                <a href="${model.helpLink}">Help</a>
            </div>

            <div class="cmp-footer-column">
                <h4>${model.connectLabel}</h4>
                <a href="${model.linkedInLink}" target="_blank">
                    LinkedIn
                </a>
            </div>

        </div>

        <div class="cmp-footer-bottom">
            © 2026 SearchHub
        </div>
    </footer>
</sly>