<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"/>
 
<sly data-sly-call="${clientlib.all @ categories='aem-site-bootcamp-w2.searchresultsgrid'}"/>
<sly data-sly-call="${clientlib.all @ categories='aem-site-bootcamp-w2.addtocartbadge'}"/>
 
<div id="searchResultsGrid" data-cmp-is="searchresultsgrid" class="cmp-search-results-grid-container" data-results-url="${resource.path}.searchresults.json">
 
     <div id="loading">
         Loading products...
     </div>
     <div id="emptyState"
          style="display:none">
     </div>
     <div id="resultsHeader">
     </div>
     <div id="resultsContainer" class="cmp-search-results-grid">
     </div>
</div>
 
 
 