<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" />

<sly data-sly-call="${clientlib.js @ categories='aem-site-bootcamp-w2.addtocartbadge'}" />

<sly data-sly-use.model="com.adobe.aem.bootcamp.core.learner004.models.SearchHeaderModel">

    <header class="cmp-search-header" data-cmp-is="searchheader">

        <div class="cmp-search-header-logo">
            ${model.heading}
        </div>

        <nav>
            <a class="cmp-search-header-nav" href="${model.ctaLink}">${model.ctaLabel}</a>
            <!-- <a class="cmp-search-header-nav" href="search-results-page.html?q=">Search Results</a> -->
        </nav>

        <div class="cmp-search-header-cart-badge">
            Cart
            <span id="cartCount" class="cmp-search-header-cart-count">0</span>
        </div>

    </header>
</sly>