    <sly data-sly-use.model="com.adobe.aem.bootcamp.core.learner007.models.HeroModel">
    <section class="${properties.alignment} hero-container" data-cmp-is="hero">
    <div class="hero-banner" data-background-image="${model.bannerImage}">
    <div class="hero-content">
        <h1>${model.bannerTitle}</h1>

        <p>${model.bannerDescription}</p>
        
            <button id="heroBtn" data-link="${model.ctaLink}.html">${model.buttonText}</button>
        </a>
    </div>

</div>
</section>
</sly>
