<sly data-sly-use.model="com.adobe.aem.bootcamp.core.learner007.models.PromoBannerModel">
<section class="${properties.alignment}  data-cmp-is="Promo block"></section>
<div class="promo-block mt-3" data-background-image="${model.promoblockImage}">
    <div class="promo-content">
        <h2>${model.promoHeading}</h2>
        <ul>
            <li>${model.benefit1}</li>
            <li>${model.benefit2}</li>
            <li>${model.benefit3}</li>
            <li>${model.benefit4}</li>
        </ul>
    </div>
</div>
</sly>
