<div class="footer" data-cmp-is="footer" data-sly-use.model="com.adobe.aem.bootcamp.core.models.FooterModel">
  <div class="footer__container">
    <div class="footer__column">
      <h4>SEARCHHUB</h4>
    </div>

    <div class="footer__column">
      <h4>${model.navigateHeading}</h4>

      <a href="${model.navigateLink}"> ${model.navigateText} </a>
    </div>

    <div class="footer__column">
      <h4>${model.resourceHeading}</h4>

      <a href="${model.resourceLink}"> ${model.resourceText} </a>
    </div>

    <div class="footer__column">
      <h4>${model.connectHeading}</h4>

      <a href="${model.connectLink}"> ${model.connectText} </a>
    </div>
  </div>

  <div class="footer__copyright">© 2026 SearchHub</div>
</div>
