<article class="cmp-learner008-card" data-sly-use.model="com.adobe.aem.bootcamp.core.models.Learner008CardTeaserModel" data-cmp-is="shopfast-cardteaser" data-product-id="${model.productId}" data-product-title="${model.title}" data-product-price="${model.price}" data-product-image="${model.imagePath}">
    <img class="cmp-learner008-card__image" src="${model.imagePath}" alt="${model.title}" data-sly-test="${model.imagePath}"/>
    <h3 class="cmp-learner008-card__title">${model.title}</h3>
    <p class="cmp-learner008-card__description">${model.description}</p>
    <p class="cmp-learner008-card__price">${model.formattedPrice}</p>
    <button class="cmp-learner008-card__action" type="button" data-cmp-hook-shopfast-card="add">${model.addToCartLabel}</button>
</article>
