<div data-sly-use.templates="core/wcm/components/commons/v1/templates.html"></div>
<sly data-sly-call="${templates.placeholder @ isEmpty = !properties.heading}"></sly>

<sly data-sly-use.clientlib="core/wcm/components/commons/v1/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories='aem-site-bootcamp-w2.site.product'}"/>
</sly>

<sly data-sly-use.model="com.adobe.aem.bootcamp.core.models.ProductDetails">
    <div class="product-details-wrapper">
<h1>${properties.heading}</h1>
<p>${properties.description}</p>
</div>
</sly>