<div class="cmp-header" data-cmp-is="header">
    <a class="cmp-header__logo-link" href="/" data-sly-test="${properties.logoImage}">
        <img class="cmp-header__logo" src="${properties.logoImage}" alt="${properties.logoAlt}"/>
    </a>
    <div class="cmp-header__text">
        <p class="cmp-header__title" data-sly-test="${properties.siteTitle}">${properties.siteTitle}</p>
        <p class="cmp-header__tagline" data-sly-test="${properties.tagline}">${properties.tagline}</p>
    </div>
</div>
