<sly data-sly-use.model="com.adobe.aem.bootcamp.core.learner007.models.FooterModel">
<footer class="footer mt-20">

    <section class="col-3">
        <a class="footer-logo" href="${model.homeCtaLink}.html" aria-label="Go to Home Page">
        ${model.companyLogo}
        </a>        
    </section>

    <section class="col-3 ">
        <h5>Navigate</h5>
        <ul>
            <li><a href="${model.homeCtaLink}.html" aria-label="Go to Home Page">${model.home}</a></li>
            <li><a href="${model.shopCtaLink}.html" aria-label="Go to Shop Page">${model.shop}</a></li>
        </ul>
    </section>

    <section class="col-3 ">
        <h5>Resources</h5>
        <ul>
            <li><a href="${model.resourceCtaLink}" target="_blank" rel="noopener noreferrer" aria-label="Visit Resources Page">${model.resource}</a></li>
        </ul>
    </section>

    <section class="col-3 ">
        <h5>Contact</h5>
        <ul>
            <li><a href="${model.linkedinCTALink}" target="_blank" rel="noopener noreferrer" aria-label="Visit LinkedIn profile">${model.linkedin}</a></li>
        </ul>
    </section>

    <section class="col-12 footer-bottom mt-20 top-border">
        <p>&copy; <span id="year"></span> ${model.copyright}</p>
    </section>

</footer>
<script>
document.getElementById("year").textContent = new Date().getFullYear();
</script>
</sly>